<div class="container py-5 d-flex align-items-center justify-content-center min-vh-100">
  <div class="card">
    <div class="card-body">
      <div class="mb-4">
        <h1>Entre na sua conta</h1>
        <p class="text-muted">Insira suas credenciais para acessar o menu principal</p>
      </div>

      <div class="mb-3">
        <input class="form-control" placeholder="Insira seu email" type="email">
      </div>

      <div class="mb-3">
        <input class="form-control" placeholder="Insira sua senha" type="password">
      </div>

      <button class="btn btn-primary w-100">Entrar</button>
    </div>
  </div>
</div>

